.header{
    width: 500px;
    background-color: green;
    position: fixed;
    right: 10px;
    bottom: 0px;
    box-shadow: grey;
    border: 1px solid rgb(133, 131, 131);
    
}

.chat{
    display: none;
}

.header:hover .chat{
    display: block;
}