
.loginjaswanth{
    margin-left: 2%;
    margin-top: 16%;
   
    float: left;
}
.loginjaswanth input{
    background-color: white;
    margin-top: 20px;
    width: 400px;
    height: 50px;
    border-radius: 50px;
    font-size: 25px
   
    
}
.loginjaswanth button{
    background-color: rgb(47, 148, 236);
    border-radius: 50px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    
   
}
.foter{
    margin-top: 95%;

}
.loginjaswanth button:hover {
    background-color: rgb(74, 105, 190);
  }
 
 
