.middle{
    width: 48%;
    margin-left:15.9%;
    margin-top:-290px;
     border-right:2px solid #EFF1F1;
}

.nav{
    display: flex;
    gap: 5%;
}

.nav>p {
    font-size:18px;
    font-weight:700;
}

.nav>p:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #1d9bf0;
}

.youbox{
    width:95.7%;
    margin-left:6%;
    margin-top: 2%;

}

.ale>img{
    width:25%;
    height:100px;
    border-radius: 9%;
    margin-bottom: 4%;
}

.ale{
    display: flex;
    justify-content:space-between;
    margin-right: 4%;
}
.show{
    margin-left: 3%;
    margin-right: 2%;
}



*{
    font-family: 'Open Sans', sans-serif;
}

.author{
    color: #676b6d;
    font-size: 13px;
    font-weight:400;
}

.tit{
    font-size:16px;
    font-weight:500;
    line-height: 18px;
}

.Link{
    text-decoration:none;
    font-size:18px;
    font-weight:700;
    color: black;

}

.Link:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #1d9bf0;
}
